extends layout

block content
  h1 Formulare

  each form in forms
    .form
      h2= form.name

      .preview-row(
        data-pdf=`/data/pdfs/${form.file}`
      )

      button(onclick=`printForm('${form.id}')`) Drucken
