doctype html
html
  head
    meta(charset="utf-8")
    title Formulardrucker
    link(rel="stylesheet", href="/public/css/style.css")
    script(src="/public/pdfjs/pdf.min.js")
    script(src="/public/app.js", defer)
  body
    block content
